<-- fonts -->
h1, h2, h3, h4, h5, h6, p, a {
  font-family: DejaVu Sans Mono, monospace;
}

<-- header -->
.header {
  padding: 0px;
  text-align: center;
  background: #B68CB8;
  color: white;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}
