h1, h2, h3, h4, h5, h6, p {
  font-family: "Lucida Console", "Courier New", monospace;
}

.header {
  padding: 60px;
  text-align: center;
  background: 4F759B;
  color: white;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}
