h1, h2, h3, h4, h5, h6, p {
  font-family: Helvetica, sans-serif;
}

.header {
  padding: 40px;
  text-align: center;
  background: #B68CB8;
  color: white;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}
